body {
	background-color: lightgray;
}

#page {
	background-color: white;
	margin: 2% auto;
	width: 90%;
	font-family: Helvetica;
}

#page h1 {
	text-align: center;
	background-color: #2F4F4F;
	color: white;
	text-transform: uppercase;
}

.main {
	padding: 50px;
}

.navbar {
	font-weight: bold;
	float: left;
	width: 16.483516483516%; /* 150 / 910 */
}

.navbar ul {
	list-style: none;
}

.content {
	float: right;
	width: 83.516483516484%; /* 760 / 910 */
}

.pictureRow ul {
	list-style: none;
}

.pictureRow ul li {
	display: inline;
}

@media screen and (max-width: 480px) {
	#page {
		width: 100%;
		margin: 0%;
	}

	.main {
		padding: 0px;
	}

	.navbar,
	.content {
		clear: both;
		width: 100%;
	}

	.navbar {
		background-color: darkgrey;
	}

	.navbar ul div li {
		display: inline;
		float: left;
		padding-right: 1em;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.main {
		padding: 0px;
	}

	.navbar,
	.content {
		clear: both;
		width: 100%;
	}

	.navbar {
		background-color: darkgrey;
	}

	.l1,
	.l3,
	.l5 {
		float: left;
		width: 50%;
	}

	.l2,
	.l4,
	.l6 {
		float: right;
		width: 50%;
	}
}

@media screen and (min-width: 1024px) {
	.p1,
	.p2,
	.p3,
	.p4,
	.p5 {
		width: 100%;
	}

	.navbar {
		width: 10.989011%; /* 100 / 910 */
		float: left;
	}

	.content { 
		width: 54.9450549%; /* 500 / 910 */
		float: left;
	}

	.pictureRow {
		width: 34.0659341%; /* 310 / 910 */
		float: left;
	}

	.pictureRow ul li {
		display: block;
	}
}