/* http://lea.verou.me/css3patterns/#argyle */
body {
	background-color: #6d695c;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
}

.page {
	background-color: #6d695c;
	border: solid 5px;
	margin: 36px auto;
	width: 90%;
}

.page h1 {
	text-align: center;
}

.navbar {
	float: left;
	width: 20.833333333333; /* 200 / 960 */
}

.main {
	float: right;
	width: 79.166666666667%; /* 760 / 960 */
}

.leftColumn {
	float: left;
	width: 50%;
}

.rightColumn {
	float: right;
	width: 50%;
}

.pictureRow {
	clear: both;

}

.pictureRow ul {
	list-style: none;
}

.pictureRow ul li {
	display: inline;
}

@media screen and (max-width: 480px) {
	.navbar ul li {
		display: inline;
	}

	.leftColumn,
	.rightColumn {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.leftColumn,
	.rightColumn {
		float: none;
	}
}

@media screen and (min-width: 1024px) {
	.navbar ul {
		list-style: none;
	}
}